* {
  margin: 0;
  padding: 0;
  font-family: none;
}
h3 {
  font-size: 24px;
  margin-left: 200px;
}
.head {
  background-color: #1f2937;
  color: white;
  height: 66vh;
  padding-top: 15px;
}
header {
  display: flex;
}
ul {
  font-size: 19px;
  display: flex;
  list-style-type: none;
  margin-top: 10px;
}
a {
  color: rgba(202, 198, 198, 0.882);
  text-decoration: none;
  margin: 6px;
  font-family: "Arial", "Helvetica", sans-serif;
}
.navbar {
  margin-left: 490px;
  margin-top: 10px;
}
/*end of the blackish header css style background and all it's codes and beginning of h1 and p rightsides */ /* for people who want to know how i build the website message me on ig username @iamclay_k */
.web {
  width: 500px;
  height: 300px;
  padding: 120px 0px 0px 210px;
}
h1 {
  font-size: 50px;
  color: #f9faf8;
  font-weight: 900;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 10px;
}
.men {
  font-size: 22px;
  color: #e5e7eb;
}
.butto {
  font-family: "Arial", "Helvetica", sans-serif;
  background-color: #3882f6;
  border: none;
  color: white;
  height: 40px;
  width: 140px;
  padding: 10px 30px 50x 30px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 25px;
}
/* end of the div .web the left side of the black background and start on the right side for the placeholder of the image */
.flex {
  display: flex;
}
.img {
  background-color: rgba(205, 210, 215, 0.527);
  width: 380px;
  height: 150px;
  padding-top: 90px;
  margin: 125px 0px 0px 0px;
  padding-left: 150px;
}
/* end of the image placeholder and the blackish top beginning and start of the info section */
.info {
  width: 100%;
  height: 450px;
}
h2 {
  font-size: 36px;
  margin-left: 500px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 70px;
  font-family: "Arial", "Helvetica", sans-serif;
}
.images {
  color: #1f2937;
}
menu {
  display: flex;
  list-style-type: none;
  margin-left: 270px;
  margin-top: 100px;
}
.q {
  margin-left: 40px;
  font-size: larger;
  width: 170px;
  text-align: center;
}
.a {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}
/*end of information and start of inspiration part */
.inspir {
  margin-top: 00px;
  background-color: rgba(94, 91, 91, 0.195);
  height: 50vh;
}
.nam {
  width: 730px;
  margin-left: 350px;
  padding-top: 150px;
}
.w {
  font-size: 36px;
  font-family: light italic;
  color: #1f2937;
  font-style: italic;
  font-weight: 200;
}
.e {
  font-size: larger;
  text-align: right;
  font-weight: bolder;
  margin-top: 20px;
}
/* end of inspiration and start of sign in and footer */
.sign {
  background-color: #3882f6;
  width: 68%;
  height: 150px;
  margin-left: 250px;
  margin-top: 110px;
  margin-bottom: 110px;
  border-radius: 5px;
  color: white;
}
.ss {
  margin-left: 150px;
  padding-top: 50px;
}
.action {
  font-weight: 900;
  font-size: x-large;
  font-family: "Arial", "Helvetica", sans-serif;
}
.par {
  display: flex;
  font-family: "Arial", "Helvetica", sans-serif;
}
.pi {
  font-size: large;
  font-weight: 400;
  color: rgba(202, 198, 198, 0.882);
  font-family: "Arial", "Helvetica", sans-serif;
}
.sig {
  border: 3px solid white;
  background-color: #3882f6;
  font-size: 16px;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: 900;
  margin-left: 140px;
  padding: 10px 30px 10px 30px;
  font-family: "Arial", "Helvetica", sans-serif;
}
/*end of sign in and start of the footer */
.fot {
  height: 30px;
}
footer {
  background-color: #1f2937;
  text-align: center;
  color: rgba(202, 198, 198, 0.882);
  font-size: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Arial", "Helvetica", sans-serif;
}
