body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
@media only screen and (max-width: 768px) {
  /* Your tablet styles here */
}

/* Styles for mobile phones */
@media only screen and (max-width: 480px) {
  /* Your mobile styles here */
}
.logo1 {
  font-size: 24px;
  margin-right: 1210px;

  text-align: left;
  margin-top: -20px;
  border-radius: 10px;
}
header {
  background: #393636;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.fot {
  height: 30px;
}
footer {
  background-color: #020202;
  text-align: center;
  color: rgba(202, 198, 198, 0.882);
  font-size: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Arial", "Helvetica", sans-serif;
}
